<div class="container my-5">
  <h1 class="text-center mb-4">Text Generator Page</h1>

  <div class="card p-4">
    <div class="card-body">
      <div class="mb-3">
        <input [(ngModel)]="prompt" placeholder="Ask me anything..." class="form-control mb-2" />
        <button (click)="sendMessage()" class="btn btn-primary btn-lg mt-3">Generate</button>
      </div>

      <div class="story-container mt-3">
        <div *ngIf="story_character || story_setting || story_conflict || story_resolution || story_dialogue || story_moral" class="user-story-container">
          <h2>Your Generated Story</h2>
          <p><strong>Character Name:</strong> {{ story_character }}</p>
          <p><strong>Setting:</strong> {{ story_setting }}</p>
          <p><strong>Conflict:</strong> {{ story_conflict }}</p>
          <p><strong>Resolution:</strong> {{ story_resolution }}</p>
          <p><strong>Key Dialogue:</strong> {{ story_dialogue }}</p>
          <p><strong>Moral or Theme:</strong> {{ story_moral }}</p>
        </div>
        
        <div *ngIf="response" class="chat-container mt-3">
          <h2>AI Generated Story</h2>
          <div class="chat-message bot-message">
            <div class="message-content">{{ response }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5">
    <button (click)="navigateToSubmitExercise1()" class="btn btn-secondary btn-lg mb-5">Go to Submit Exercise 1</button>
  </div>
</div>
