/* You can add global styles to this file, and also import other style files */


/* Text Animation */
.animated-text {
  animation: fadeIn 2s ease-in-out;
  font-size: 2.5rem;
  color: #333;
}

/* Button Animation */
.animated-button {
  animation: bounceIn 1s ease-in-out;
  transition: transform 0.2s;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.animated-button:hover {
  transform: scale(1.1);
}

/* Keyframes for Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* Logo Styling */
.logo {
  width: 150px;
  height: auto;
}


/* Content Styling */
.content {
  flex: 1;
  padding-bottom: 60px; /* Space for the fixed footer */
}


/* Footer Styling */
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #d1d1d1be;
  padding: 10px 0px;
  font-size: 1rem;
  color: #666;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin: 0;
  text-align: center;
}


