<div class="container">
  <h1 class="mt-5 text-center">Submit Form</h1>

  <div class="mt-3">
    <p><strong>Name:</strong> {{ formData.name }}</p>
    <p><strong>Email:</strong> {{ formData.email }}</p>
    <p><strong>Student ID:</strong> {{ formData.studentid }}</p>
    <p><strong>Prompt:</strong> {{ formData.prompt }}</p>
  </div>

  <form (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="poq1">How satisfied were you with the overall exercise?</label>
      <input type="text" id="poq1" [(ngModel)]="formData.poq1" name="poq1" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="poq2">How challenging did you find this exercise?</label>
      <input type="text" id="poq2" [(ngModel)]="formData.poq2" name="poq2" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="poq3">Did this exercise help you think more creatively? If so, how?</label>
      <input type="text" id="poq3" [(ngModel)]="formData.poq3" name="poq3" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="poq4">What did you enjoy most about this exercise?</label>
      <input type="text" id="poq4" [(ngModel)]="formData.poq4" name="poq4" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="poq5">What would you improve about this exercise?</label>
      <input type="text" id="poq5" [(ngModel)]="formData.poq5" name="poq5" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>
