.chat-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  height: auto;
  overflow-y: auto;
  margin-right: 10px;
}

.chat-message {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bot-message .message-content {
  background-color: #e0e0e0;
  color: black;
  align-self: flex-start;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
}

.story-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.user-story-container {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-left: 10px;
}


.mt-3 {
    margin-top: 0rem !important;
}
